<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="C:\Users\orlov_vr\source\repos\LokiGraf.API\nlog-internal.log"
      internalLogLevel="Info" >

	<extensions>
		<add assembly="NLog.Loki" />
	</extensions>

	<targets>
		<target xsi:type="File" name="logfile" fileName="C:\Users\orlov_vr\source\repos\LokiGraf.API\mainlogs.log"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<target
            name="loki"
            xsi:type="loki"
            batchSize="200"
            taskDelayMilliseconds="500"
            endpoint="http://localhost:3100"
            orderWrites="true"
            compressionLevel="noCompression"
            layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}">
			<!-- Loki requires at least one label associated with the log stream. Make sure you specify at least one label here. -->
			<label name="app" layout="LokiGraf.Console" />
			<label name="server" layout="${hostname:lowercase=true}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile,loki" />
	</rules>
</nlog>